# Datos del CMS
data/
# Dependencias
node_modules/
dist/
build/
# Logs y Temporales
*.log

temp_*.html
test.js
commits_temp.txt
# Modelos y Pesados
blobs/
manifests/
# Backups (CRÍTICO)
backups/
*.zip
*.rar
# Archivos JSON
!public/manifest.json
*.json
# Secretos
.env
# Python
__pycache__/
